# **Books**

_John Andrew Dixon_

---

##### **Imports**

In [16]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

---

## **Tasks**

##### **_Part 1: Design an ERD_**

 ![png](Data/books_erd.png)

##### **_Part 2: Create the database in Python_**

In [17]:
# Format the connection to make
connection = "mysql+pymysql://root:root@localhost/books"

In [18]:
# Create the connection engine
engine = create_engine(connection)

In [19]:
# Check if the database exists. If it does exist, 
# print out a notice and move on.
if database_exists(connection):
    print("The database exists!")
# If it does not exist, create it.
else:
    create_database(connection)

The database exists!

In [20]:
# Read in all data from the provided CSVs
authors_df = pd.read_csv("Data/authors.csv")
books_df = pd.read_csv("Data/books.csv")
favorites_df = pd.read_csv("Data/favorites.csv")
users_df = pd.read_csv("Data/users.csv")

# Verify the data loaded
users_df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [21]:
# Add each table into the database
authors_df.to_sql("authors", engine, if_exists="replace")
books_df.to_sql("books", engine, if_exists="replace")
favorites_df.to_sql("favorites", engine, if_exists="replace")
users_df.to_sql("users", engine, if_exists="replace")

3

In [22]:
# Verify the tables were added by showing them
query = """SHOW TABLES;"""
pd.read_sql(query, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [23]:
query = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites 
  ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""
pd.read_sql(query, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

##### **_Part 3: Exporting the database and committing to GitHub_**

This is done on MySQL Workbench with the results in this repository.